import(jaspBase)
import(jaspDescriptives)
import(jaspMetaAnalysis)
export(CochraneContinuousClassicalMetaAnalysis)
export(CochraneDichotomousClassicalMetaAnalysis)
export(CochraneContinuousBayesianMetaAnalysis)
export(CochraneDichotomousBayesianMetaAnalysis)
